@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

body {
  overflow-x: hidden;
}
body nav {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 5;
}
body nav ul {
  display: flex;
}
body nav ul li {
  /*
  none：無標記
  disc：實心圓點（預設值）
  circle：空心圓點
  square：實心方塊
  decimal：數字（1, 2, 3, ...）
  lower-alpha：小寫字母（a, b, c, ...）
  upper-alpha：大寫字母（A, B, C, ...）
  */
  list-style-type: none;
  margin: 1rem;
}
body nav ul li a {
  color: black;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
body nav ul li a:hover {
  color: rgb(229, 167, 87);
}
body main section.about2 {
  padding: 2rem, 0rem;
  display: flex;
  justify-content: center;
  overflow: visible;
}
body main section.about2 section.description2 {
  display: flex;
  flex-wrap: wrap;
  background-color: blanchedalmond;
  margin: 0 0.5rem;
  border-radius: 15px;
  justify-content: center;
}
body main section.about2 section.description2 .motivation {
  display: inline-block;
  width: 50%;
  margin-top: 1rem;
  padding: 0rem;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(103, 242, 177);
  transition: all 0.5s ease-in;
}
body main section.about2 section.description2 .motivation h1 {
  padding: 0.5rem 0;
}
body main section.about2 section.description2 .motivation:hover h1 {
  scale: 1.2;
}
body main section.about2 section.description2 h2 {
  font-size: 1.5rem;
  padding: 1rem;
}
body main section.progressLearning {
  display: flex;
  flex-wrap: wrap;
}
body main section.progressLearning .textContent {
  flex: 1 1 550px;
  background-color: #8aeef8;
  padding: 1rem;
  border-radius: 30px;
  margin: 0.5rem;
  position: relative;
}
body main section.progressLearning .textContent h1 {
  display: flex;
  align-items: center;
  position: relative;
}
body main section.progressLearning .textContent h1::after i {
  margin-left: 0.5rem;
  position: absolute;
  right: 0;
}
body main section.progressLearning .textContent h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
}
body main section.progressLearning .game-links {
  flex: 1 1 300px;
  background-color: #b3ece0;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0.5rem;
}
body main section.progressLearning .game-links a {
  display: inline-block;
  font-size: 1.5rem;
  text-decoration: none;
  transition: all 0.5s ease-in;
}
body main section.progressLearning .game-links a:hover {
  scale: 1.2;
}
body main section.timeAllocation {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  background-color: #1ea3eb;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem 0.5rem;
  justify-content: center;
}
body main section.timeAllocation h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
body main section.timeAllocation .circleContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
}
body main section.timeAllocation img {
  width: auto;
  height: auto;
  margin: 0 0.5rem;
}
@media (max-width: 768px) {
  body main section.timeAllocation .circleContainer {
    flex-direction: column;
    align-items: center;
  }
  body main section.timeAllocation .circleContainer img {
    transform: rotate(90deg);
    margin: 0.5rem 0;
  }
}
body main section.timeAllocation .circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #e9b65d;
  border: 1px solid #040404;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.5s linear;
}
body main section.timeAllocation .circle h2 {
  font-size: 1.2rem;
  margin: 0;
  word-wrap: break-word;
  overflow: hidden;
}
body main section.timeAllocation .circle:hover {
  background-color: #e9b65d;
  scale: 1.2;
}
body main section.outRange {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(229, 174, 103, 0.3);
  padding: 1rem;
  margin: 0 0.5rem;
  border-radius: 22px;
  position: relative;
  z-index: 1;
}
body main section.outRange section.decideChooseReturn {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(141, 231, 231, 0.4);
  border-radius: 20px;
  position: relative;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 1;
  justify-content: center;
}
body main section.outRange section.decideChooseReturn .software {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 0 0.5rem;
  border-radius: 25px;
  margin-bottom: 1rem;
  background-color: rgb(182, 236, 182);
}
body main section.outRange section.decideChooseReturn .software h1 {
  text-align: center;
}
body main section.outRange section.decideChooseReturn h2 {
  font-size: 1.5rem;
}
body main section.dealWithEmotions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 80px;
  margin: 1rem 0.5rem;
  background-color: rgb(89, 179, 224);
}
body main section.dealWithEmotions .emoProgress {
  width: 70%;
  border-radius: 25px;
  background-color: rgb(235, 226, 145);
  margin-top: 1rem;
}
body main section.dealWithEmotions .emoProgress h1 {
  margin: 0.3rem 0.5rem;
  text-align: center;
}
body main section.dealWithEmotions .emodetail {
  width: 100%;
  background-color: rgb(152, 232, 197);
  border-radius: 40px;
  padding: 1rem;
  margin: 1rem 0.5rem;
}
body main section.dealWithEmotions .emodetail h2 {
  font-size: 1.5rem;
}
body main section.technologyNote {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  background-color: rgb(244, 202, 138);
  margin: 0 0.5rem;
  z-index: 1;
}
body main section.technologyNote .noteHeader {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 10vh;
  border-radius: 40px;
  background-color: rgb(92, 115, 170);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  border: 5px solid black;
}
body main section.technologyNote .noteHeader h1 {
  font-size: 2.5rem;
  color: white;
}
body main section.technologyNote .notedetail {
  border: 2px solid black;
  border-radius: 25px;
  border: 2px solid black;
  z-index: 2;
  background-color: rgb(217, 255, 134);
  padding: 1rem;
  margin: 1rem;
}
body main section.technologyNote .notedetail h2 {
  font-size: 1.5rem;
}
body main section.myjobAndSociety {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightblue;
  margin: 1rem 0.5rem;
  border-radius: 30px;
}
body main section.myjobAndSociety .attactSociety {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 15vh;
  border-radius: 90px;
  background-color: lemonchiffon;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 5px solid black;
}
body main section.myjobAndSociety .attactSocietydetail {
  border: 2px solid black;
  border-radius: 30px;
  border: 2px solid black;
  z-index: 2;
  background-color: rgb(217, 255, 134);
  padding: 1rem;
  margin: 1rem;
}
body main section.myjobAndSociety .attactSocietydetail h2 {
  font-size: 1.5rem;
}
body main .tellSomething {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: lightgoldenrodyellow;
  margin: 1rem 0.5rem;
  border-radius: 30px;
}
body main .tellSomething .tellToBootcamps {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 15vh;
  border-radius: 60px;
  background-color: lightblue;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  border: 5px solid black;
}
body main .tellSomething .tellContent {
  border: 2px solid black;
  border-radius: 30px;
  border: 2px solid black;
  z-index: 2;
  background-color: rgba(141, 231, 231, 0.4);
  padding: 1rem;
  margin: 1rem;
  transition: all 0.5s linear;
}
body main .tellSomething .tellContent h2 {
  font-size: 1.5rem;
}
body main .tellSomething .tellContent:hover {
  background-color: rgb(249, 203, 112);
}

.fa-solid.fa-arrow-right.fa-2xl {
  animation: animatedArrowXaxies 2s infinite;
}

@keyframes animatedArrowXaxies {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(100% - 1rem));
  }
}
@media screen and (max-width: 1200px) {
  .fa-solid.fa-arrow-right.fa-2xl {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  body nav {
    position: static;
  }
  body nav ul {
    flex-direction: column;
  }
}/*# sourceMappingURL=style2.css.map */